.menu{
    width:100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.607);
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    .photo{
    width: 15%;
    height: 85%;
    
    
    }
    img{
        width: 100%;
        height: 100%;
    
    
    }
    
    
    
    
    .zagolovok{
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
    }
    .knopku{
        width: 35%;
        height: 90%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        }
    a{
        text-decoration: none;
        color: rgb(106, 123, 176);
        font-family: 'Times New Roman', Times, serif;
        font-size: 25px;
        margin: 3px;
        }
        body{
            margin: 0;
            color: rgb(223, 196, 196);
            background: url(https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2021/10/gta-iii-reportaje-20-aniversario-2508631.jpg?tf=3840x);
            font-size: 20px;
            font-family:Arial, Helvetica, sans-serif;
           
            }
            .infa{
                width: 100%;
                height: 400px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                background: rgba(0, 0, 0, 0.634);
                color: rgb(157, 170, 144);
                font-family:'Times New Roman', Times, serif;
                font-size: 20px;
                }
                .photo1{
                width:15%;
                height: 200px;
                
                }
                .text1{
                width:75% ;
                height: 350px;
                
                }
                .infa2{
                width:100% ;
                height:400px ;
                display: flex;
                justify-content: space-around;
                align-items: center;
                background: rgba(0, 0, 0, 0.616);
                color: rgb(184, 255, 158);
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }
                .text2{
                width: 75%;
                height:350px ;
                }
                .photo2{
                width:15% ;
                height: 200px ;
                }